<%# Intent for this file:

Similar to how we did top 10 items in media categories with Mediaranker, 
we plan to provide 5 products under highlighted categories.

This is the code I used in Media Ranker. Will adjust for this purpose. %>

<%# <ul> %>
  <%# <#% top.each do |work| %>
    <%# <li>
      <h4><#%= link_to work.title, work_path(work) %> 
      <%# <small>by <#%= work.creator</small></h4> %> %>
      <%# <p><#%= work.votes.count %> 
      <%# votes</p> %> %>
    <%# </li> %>
  <#% end %>
<%# </ul> %> %> %>