<main>
  <div class=container>
  <article class="main-content""

    <h1 class="subtitle">What is EXPY?</h1>

          <section class="about">
              <ul>
                  <li>EXPY is a global network of people like you.</li>
                  <li><i>Curious</i> people.</li>
                  <li>People with open hearts.</li>
                  <li>People with experiences to <strong>share</strong>.</li>
                  <li>With EXPY, locals become your hosts, and your <i>teachers</i>.</li>
                  <li>An EXPY experience is...</li>
                  <li><strong>low cost,</li>
                  <li>real life,</li>
                  <li>& unforgettable.<strong></li>
              </ul>
          </section>

    <h2>Meet the Team Behind Expy</h2>
    <br>
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag("https://avatars2.githubusercontent.com/u/45162016?s=400&v=4", alt: "Avatar for Pauline", class: "card-img-top") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pauline</h5>
          <p class="card-text", id="left-text">Stuff about Pauline.</p>
          <p class="card-text"><small class="text-muted">Expy Engineer</small></p>
        </div>
      </div>
    </div>
  </div>

    <div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag("https://avatars2.githubusercontent.com/u/46201935?s=460&v=4", alt: "Avatar for Karla", class: "card-img-top") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Karla Guadron</h5>
          <p class="card-text", id="left-text">Stuff about Karla.</p>
          <p class="card-text"><small class="text-muted">Expy Engineer</small></p>
        </div>
      </div>
    </div>
  </div>


    <div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag("https://avatars0.githubusercontent.com/u/31839313?s=460&v=4", alt: "Avatar for Riyo", class: "card-img-top") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Riyo Perry</h5>
          <p class="card-text", id="left-text">Stuff about Riyo.</p>
          <p class="card-text"><small class="text-muted">Expy Engineer</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag("https://avatars0.githubusercontent.com/u/33272959?s=460&v=4", alt: "Avatar for Grace", class: "card-img-top") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Grace Shhea</h5>
          <p class="card-text", id="left-text">Stuff about Grace.</p>
          <p class="card-text"><small class="text-muted">Expy Engineer</small></p>
        </div>
      </div>
    </div>
  </div>
  </article>
  </div>
</main>