<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

                 
   <body>

    <main>
        <%# TYPING EFFECT SECTION %>

        <div class="top">
                <h1 class="typewrite" data-period="2000" data-type='[ "Explore", "Experiment", "Experience", "EXPY" ]'>
                    <span class="wrap"></span>
                </h1>
        </div>

        <div class="photo">
            <img src="https://images.pexels.com/photos/1206059/pexels-photo-1206059.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="laughing women">
        </div>
        
        <%# TYPING EFFECT SECTION END %>

        <h1 class="subtitle">What is EXPY?</h1>

        <section class="about">
            <ul>
                <li>EXPY is a global network of people like you.</li>
                <li><i>Curious</i> people.</li>
                <li>People with open hearts.</li>
                <li>People with experiences to <strong>share</strong>.</li>
                <li>With EXPY, locals become your hosts, and your <i>teachers</i>.</li>
                <li>An EXPY experience is...</li>
                <li><strong>low cost,</li>
                <li>real life,</li>
                <li>& unforgettable.<strong></li>
            </ul>
        </section>

        <h1 class="subtitle">Testimonials</h1>

        <section class="testimonials">
            <article>
                <img src="https://images.pexels.com/photos/572741/pexels-photo-572741.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image of Singer and Guitarist in Hazy Smoke">
                <h3>"Best decision of my life!"</h3>
                <p> - Natalia Echavarría</p>
            </article>

             <article>
                <img src="https://images.pexels.com/photos/1574650/pexels-photo-1574650.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Image of Mural Work of el Seed">
                <h3>"Memories we will treasure"</h3>
               <p> - Jessica Jordan</p>
            </article>

            <article>
                <img src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g" alt="Image of the Oud Instrument">
                <h3>"Unlike anything I've ever experienced"</h3>
               <p> - Karen Moreno</p>
            </article>

            <article>
                <img src="https://images.pexels.com/photos/1340502/pexels-photo-1340502.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g" alt="Galleria Emmanuele Vittorio in Milan"></a>
                <h3>"Stimulating to my body and soul"</h3>
                <p> - Clara Gónzalez</p>
            </article>
            
            <article>
                <img src="https://images.pexels.com/photos/1435186/pexels-photo-1435186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image of Garlic and Onion"></a>
                <h3>"The most wonderful adventure!"</h3>
                <p> - Ayesha Hadi</p>
            </article>
        </section>

    </main>

    <footer>
        <div class="container">
            <div class="footer_trust_top">
                <p>AS FEATURED IN</p>
                <div class="trustlogos"></div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 footer_main">
                <div class="col-xs-5 col-md-3 footer-left">
                    <h4>Find Out More</h4>
                    <ul class="footer_list">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">FAQ's</a></li>
                    <li><a href="">Policies</a></li>
                    <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-7 col-md-3 col-md-push-6 footer-right">
                <div class="footerbox">
                    <h4>Contact Us</h4>
                    <p>We're ready to help!</p>
                    <ul class="footer_list">
                        <li>USA | CANADA</li>
                        <li class="phone">+1 555 555 5555</li>
                        <li>UK | IRELAND</li>
                        <li class="phone">+555 5 555 5555</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-md-pull-3 footer_middle">
                <h4>Be the first to know about Authentic Travel Deals</h4>
                <p>Subscribe to get exclusive offers on the world’s greatest vacations.</p>

                <form class="hero-cta__form">
                    <div class="elcontainer">
                        <div class="inner-wrap submit-container">
                            <div class="hero-cta__input-wrap"> <input type="email" name="data[email]" required="" id="hero-cta-email" placeholder="Enter Your Email Address"></div> 
                            <button type="submit" class="emailsignup">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="footer_bottom"><div class="col-lg-3 col-md-12 footer_copyright">
                <p>©2018 All rights reserved.</p>
            </div>

            <div class="col-md-9 col-xs-12 footer__partners"><img src="https://www.authenticireland.com/wp-content/uploads/2018/04/Bottom_Trust2.png"></div>

        </div>
    </footer>
    
  </body>
</html>