<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

                 
   <body>

    <main>
        <%# TYPING EFFECT SECTION %>
        <div class="top">
            <h1 class="typewrite" data-period="2000" data-type='[ "Explore", "Experiment", "Express", "Experience", "Expy" ]'>
                <span class="wrap"></span>
            </h1>
        </div>

        <%# TYPING EFFECT SECTION END %>

        <section class="home">
            <div>
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a> 
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
                <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            </div>
        </section>

    </main>

  </body>
</html>