<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

<section class="spotlight_grid">
  <section class="spotlight_products_art"> 
    <h2>Experience Art</h2>
      <%= render "spotlight"%>
  </section>
  <section class="spotlight_products_food">
    <h2>Experience Food & Drink</h2>
      <%= render "spotlight"%>
  </section>
  <section class="spotlight_products_nature">
    <h2>Experience Nature</h2>
      <%= render "spotlight"%>
  </section>
</section>
