<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

                 
   <body>

    <%# TYPING EFFECT SECTION %>
    <div class="top">

        <h1>
        <video src="https://media.giphy.com/media/klIaoXlnH9TMY/giphy.mp4" muted autoplay loop playsinline></video> <br>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Explore", "Experiment", "Express", "Experience", "Expy" ]'>
            <span class="wrap"></span>
        </a>
        </h1>
    </div>

    
      <%# TYPING EFFECT SECTION END %>

    <section class="home">
        <div>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
            <a href=""><img src="https://picsum.photos/200/300?random=1"></a>
        </div>
    </section>
  </body>
</html>