<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

                 
   <body>

    <main>
        <%# TYPING EFFECT SECTION %>

        <div class="top">
                <h1 class="typewrite" data-period="2000" data-type='[ "Explore", "Experiment", "Experience", "EXPY" ]'>
                    <span class="wrap"></span>
                </h1>
        </div>

        <div class="photo">
            <img src="https://images.pexels.com/photos/1206059/pexels-photo-1206059.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="laughing women">
        </div>

        <div class="featured">
            <p>AS FEATURED IN</p>
             <div class="trustlogos"></div>
        <%# TYPING EFFECT SECTION END %>
        </div>


        <section id="#featured-section" class="subtitle">
            <h2 class="featured-products">Featured Experiences</h2>
            <div class="container">
            <div class="img-container">
                <a href="/products/33">
                <img src="https://images.pexels.com/photos/805448/pexels-photo-805448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="tattoo artist" height="225" width="271">
                <p class="product-name">Japanese Garden Design Tour</p>
                </a>
<<<<<<< HEAD
         
                <a href="/products/23">
                <img src="https://images.pexels.com/photos/867464/pexels-photo-867464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="chocolates" height="225" width="271">
                <p class="product-name">Learn to Make Chocolate</p>
                </a>
         
                <a href="/products/13">
                <img src="https://images.pexels.com/photos/167708/pexels-photo-167708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="hands starting a campfire" height="225" width="271">
                <p class="product-name">Wilderness Course</p>
                </a>
         
                <a href="/products/20">
                <img src="https://images.pexels.com/photos/1356304/pexels-photo-1356304.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="chameleon" height="225" width="271">
                <p class="product-name">Meet my Chameleon</p>
=======
            </div>
            <div>
                <a href="/products/15">
                <img src="https://images.pexels.com/photos/2209519/pexels-photo-2209519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="chocolates" height="225" width="271">
                <p class="product-name">Seattle Beer Tour</p>
                </a>
            </div>
            <div>
                <a href="/products/16">
                <img src="https://images.pexels.com/photos/2247886/pexels-photo-2247886.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="hands starting a campfire" height="225" width="271">
                <p class="product-name">Learn to Do Henna</p>
                </a>
            </div>
            </a>
            <div>
                <a href="/products/25">
                <img src="https://images.pexels.com/photos/1996330/pexels-photo-1996330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="featured-img" alt="chameleon" height="225" width="271">
                <p class="product-name">Horseback Riding</p>
>>>>>>> b7fb9f919f794903da43d723b1b6de1efc026206
                </a>
            </div>
            </div>
        </section>

        <h1 class="subtitle">Testimonials</h1>

        <section class="testimonials">
            <article>
                <img src="https://images.pexels.com/photos/572741/pexels-photo-572741.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image of Singer and Guitarist in Hazy Smoke">
                <h3>"Best decision of my life!"</h3>
                <p> - Natalia Echavarría</p>
            </article>

             <article>
                <img src="https://images.pexels.com/photos/1574650/pexels-photo-1574650.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Image of Mural Work of el Seed">
                <h3>"Memories we will treasure"</h3>
               <p> - Jessica Jordan</p>
            </article>

            <article>
                <img src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g" alt="Image of the Oud Instrument">
                <h3>"Unlike anything I've ever experienced"</h3>
               <p> - Karen Moreno</p>
            </article>

            <article>
                <img src="https://images.pexels.com/photos/1340502/pexels-photo-1340502.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g" alt="Galleria Emmanuele Vittorio in Milan"></a>
                <h3>"Stimulating to my body and soul"</h3>
                <p> - Clara Gónzalez</p>
            </article>
            
            <article>
                <img src="https://images.pexels.com/photos/1435186/pexels-photo-1435186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Image of Garlic and Onion"></a>
                <h3>"The most wonderful adventure!"</h3>
                <p> - Ayesha Hadi</p>
            </article>
        </section>

    </main>

    

  </body>
</html>