<%# Intent for this file:

Similar to the 3 spotlights we used in Mediaranker homepage #%>

<%# TO DO: Integrate the category logic into this %>

<body>

    <%# TYPING EFFECT SECTION %>
    <header>
        <div id="container">
            <div id="text"></div><div id="cursor"></div>
        </div>
    </header>
      <%# TYPING EFFECT SECTION END %>

    <section class="home">
        <div>
            <a href="https://github.com/gracemshea/hotel">Visit an Artist's Studio in Rio de Janeiro</a>
            <a href="https://github.com/gracemsheastartrly">Hike in Patagonia</a>
            <a href="https://github.com/gracemshea/oo-ride-share">Learn how to cook French Cuisine</a>
            <a href="https://github.com/gracemshea/slack-cli">Surf in Hawaii</a>
            <a href="https://github.com/gracemshea/mawaa">See the Northern Lights</a>
            <a href="https://github.com/gracemshea/ga_da_finalproject">Play the Blues in Memphis</a>
        </div>
    </section>
  </body>
</html>
