<%# Intent for this Page:

This is our browse products by Merchant option from home nav

List of Merchants in an index grid, 
Filter by some categories (in this case locations, we will only provide a couple options) %>

<h2>All Merchants</h2>

<ul>
<% @merchants.each do |merchant| %>
  <li>
    <%= link_to merchant.username, merchant_path(merchant) %>
  </li>
<% end %>
</ul>