<table class="cart_table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quanitity</th>
        <th>Cost</th>
        <th>Edit Quantity</th>
        <th>Delete</th>
    </tr>
    </thead>
  
  <tbody>
  <% @cart[0].each do |product_id, quantity|%>
    <tr>
        <td><%= product_id %></td>
        <td><%= quantity%></td>
    </tr>
  </tbody>
  <% end %>
</table>