<%# Intent for this page:

This is the cart.
Order items for session hash appear

render form for payment and shipping into
Confirm button submits new order to db
flash message - Success! Your order lookup number is xyz %>
<main>
<h2 class="page-header"> Shopping Cart and Billing </h2>

<%#= render partial: 'table'%>

<%= render partial: 'billingform'%>
</main>
