 <%#Each order item sold by me with a quantity and line-item subtotal
    A link to the item description page
    DateTime the order was placed
    Link to transition the order item to marked as shipped
    The current status of the order ("pending", "paid", "complete", "cancelled") %>
    <main>
    <h2><%#=@current_merchant.username%>
    <h2><%= @current_merchant.username %>'s Order Items from Order #<%= @order.id%></h2>
    
    <%= render partial: "ordertable" %>
    </main>