/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink{
  to { opacity: .0; }
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  padding: auto;
  background-color: #F9F8F8; 
  font-size: 2em;
}


header {
  line-height: .15em;
}

h2 {
  background-color: #F29F4D;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h1, h3, h4, h5, h6 {
  color: #4484CE;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 1em;
  position: sticky;
}


ul {
  list-style-type: none;
}

// nav {
//   position: sticky;
//   left: 0;
//   line-height: 1em;
//   background-color: #4484CE;
//   font-size: .8em;
//   opacity: 2em;
// }

// nav ul {
//   list-style: none;
//   padding: 2%;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   text-align: center;
// }

// nav ul li {
//   position: relative;
//   padding-left: 25px;
// }

// nav ul li:hover {
//   transform: scale(1.20); 
//   color:white;
// }

// a {
//   text-decoration: none;
//   font-size: .5em;
// }
// nav a {color:white;}
// nav a:visited {color:white;}
// nav a:hover {color:white;}
// nav a:active {color:white;}

// a {color:black;}
// a:visited {color:black;}
// a:hover {color:white;
//         }
// a:active {color:black;}

// input[type=submit] {
//   width: 150px;
//   padding-top: 6px;
//   padding-bottom: 9px;
//   font-size: 20px;
//   text-align: center;
//   border: 0;
//   border-radius: 50px;
//   cursor: pointer;
//   color: white;
//   text-decoration: none;
//   margin-left: 10em;
//   margin-top: 2em;
// }

// input[type=submit]:hover {
//   transform: scale(1.2);
// }

// form {
//   width: 550px;
//   height: 450px;
//   margin: auto;
//   position: relative;
// }

// .main {
//   margin-left: 5%;
// }

// input[type=text] {
//   border: none;
//   height: 1.5rem;
//   width: 20vw;
//   padding: 5px;
//   margin: 0 .5rem;
//  }
//  #slideshow {
//   width: 100%;
// }

// #slideshow img {
//   position:absolute;
//   left:0;
//   -webkit-transition: opacity 1s ease-in-out;
//   -moz-transition: opacity 1s ease-in-out;
//   -o-transition: opacity 1s ease-in-out;
//   transition: opacity 1s ease-in-out;
// }

// #slideshow img.top:hover {
//   opacity:0;
// }



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8em;
}

#slideshow, img.slide {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}


a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background-color: #4484CE;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #4484CE;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #F29F4D;
}

#sidebar ul p {
  color:  #4484CE ;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #F9CF00;
  background-color: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color:  #4484CE;
  background-color: #F9CF00;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: #F9CF00;
}

#main-title {
  color: #4484CE;
}