/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

html {
  height: 100%;
}
  
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: auto;
  padding: auto;
  background-color: #6c648B; /* For browsers that do not support gradients */
  background-image: linear-gradient(#6c648b, #b6a19e); /* Standard syntax (must be last) */
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 5%;
}

main {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
}

header h1{
  color: #FBA100;
  font-family: 'Rock Salt', cursive;
  text-align: justify;
  font-size: 10em;
}

h1, h2, h3, h4, h5 {
  font-family:'Open Sans Condensed', sans-serif;
}


li {
  list-style-type: none;
  display: inline;
}

nav a {
    color: #FBA100;
    font-size: 1.5em;
    text-align: left;
}

.vertical-menu {
  position: fixed;
  background-color: rgba(70, 59, 114, 0.35);
  width: 200px;
  height: 500%;
  top: 0;
  font-size: 1.5em;

}

.vertical-menu a {
  color: #FBA100;
  display: block;
  // padding: 12px;
  left: 0;
}

.vertical-menu a:hover {
	color: #463b72;
  text-decoration: none;
  transition: 350ms ease;
}

.vertical-menu .active {
	color: #FBA100;
  font-family: 'Rock Salt', cursive;
  text-align: justify;
  font-size: 4em;
}

.vertical-menu .dropdown-menu{
  background-color: rgba(70, 59, 114, 0.47);
  font-size: 1em;
}

.vertical-menu .dropdown{
  color: #FBA100;
}

li {
  font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	transition-duration: 0.5s;
 }
 
 li:hover {
	 cursor: pointer;
 }
 
 ul li ul {
	 visibility: hidden;
	 opacity: 0;
	 position: absolute;
	 transition: all 0.5s ease;
	 margin-top: 1rem;
	 left: 0;
	 display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
	 visibility: visible;
	 opacity: 1;
	 display: block;
 }
 
 ul li ul li {
	 clear: both;
	 width: 100%;
 }

.title {
  color: #FBA100;
  font-family: 'Rock Salt', cursive;
  text-align: justify;
  font-size: 2em;
  padding-top: 15%;
  padding-bottom: 15%;
 }


.nav_item {
  text-align: left;
  font-size: 4em;
 }

.nav-sub {
  font-size: 1.5em;
 }

.dropdown {
  background-color: transparent;
 }

main {
  position: absolute;
  right: 8px;
  width: 80%;
}

.main-container {
  display: flex;
  flex-direction: column;
}


main h2 {
  color: #FBA100;
  font-family: 'Rock Salt', cursive;
  text-align: justify;
  // font-size: 2.5em;
  // padding-bottom: 6%;
  width: 100%;
  vertical-align: center;
 }


.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 15em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-70px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-size: 20px;
	font-weight: 100;
	margin-top:70px;
  margin-left:40px;
  color: white;
  padding-top: 30px;
}

.footer_list {
  padding-top: 30px;
  font-size: 15px;
  float: left;
  margin-top:70px;
  margin-left:20px;
}
