// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.inactive {
  background-color: #27AAE1;
}

.btn.inactive:hover {
  background-color: #A0DAEF; 
}

li .btn {
  background-color: lightgrey;
  color: darkslategray;
}

li .btn:hover {
  background-color: lightblue;
  color: black;
}

ul.merchant-stats {
margin-top: 1rem;
display: block;
font-size: 14px;
}

.badge {
margin-right: 1rem;
}