// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two-column-layout {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40%;
  padding: 2rem;
     
}

.container {
  display: inline-block;
  position: relative;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: left;
  background-color: transparent;
}

.two-column-layout {
  display: inline-block;
  position: relative;
  width: 40%;
  padding: 2rem;
     
}

input[type="checkbox"] {
 width: 25px;
}

li label {
  padding-right: 0.5rem;
  padding-left: 0;
}

ul.horizontal-group {
  display: flex;
  justify-content: flex-start;
}

.form-horizontal .control-label.text-left {
  text-align: left;
}
// ul.horizontal-group > li {
//     display: inline;
//     height: 10vh;
// }


.comment-wrapper {
  max-height:650px;
}


.list-group {
  align-items: flex-start;
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
        
#reviews h5 {
  margin-bottom: 50px;
}

.list-group-item {
  background-color: transparent;
}

.list-group-item a {
  background-color: #FBA100;
  color: white;
}