<%= form_with model: @category do |f| %>
  <h1>Create New Category</h1>
  <div class="form-group">
    <%= f.label :name, "Category name" %>
    <%= f.text_field :name, placeholder: "Experience...", class: "form-control" %>
    <div>
    <%= f.submit "Create!", class: "btn btn-primary" %>
    </div>

  </div>
  <%end%>