<h3>Add a New Category</h3>

<div class="form">
  <%= form_for @category, validate: true do |f| %>
  <%= f.label :category_name %>
  <%= f.text_field :category %>

  <%= f.submit "Save", class: "button" %>
  <% end %>
</div>