<%# Intent for this page:

This is the Explore Experiences page from our design meeting.
A few options to explore categories, with a random product list below. %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product_path(product.id) %></td>
    <td><%= link_to product.price, product_path(product.id) %></td>
    <td><%= link_to product.quantity, product_path(product.id) %></td>
  </tr>
  <% end %>

</table>
